simple-pid
dual-mc33926 @ git+https://github.com/Clam-/rgpio-dual-mc33926@main
rgpio-ads1115 @ git+https://github.com/Clam-/rgpio-ads1115@main
rgpio-sht4x @ git+https://github.com/Clam-/rgpio-sht4x@main
paho-mqtt
rgpio
